{% extends 'profiles/base.html' %}{% load bootstrap3 %} {% load static %} {% block content %} <br>
<div class="container" id="editprofiles">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <h3 class="btn text-center">{{user.username}}</h3>
      <hr>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %} {{form.as_p }}
        <button type="submit" class='btn btn-primary'>Upload Profile Picture </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}