{% extends 'comments/base.html' %} {% load static %} {% load bootstrap3 %}

<!-- Content block -->
{% block content %} {{block.super}}

<div class="container">
  <!-- Empty Div -->
  <div class="col-md-2 col-lg-2">

  </div>
  <div class="col-md-8 col-lg-8">

    <form action="{% url 'comment' post.id%}" method="post" enctype="multipart/form-data">

      {% csrf_token %} {% bootstrap_form form %}

      <input type="submit" class="btn btn-success btn-sm" value="Post">

    </form>

  </div>

  <!-- Empty Div -->
  <div class="col-md-2 col-lg-2">

  </div>
</div>

{% endblock %}